@{
    ViewBag.Title = "AddEmployePost";
}

@using ServicePlatform.Lib;
@using ServicePlatform.Models;
@{
    ViewBag.Title = "MyWorkPlat";

    List<T_RecruitPosition> Poistion = ViewBag.Poistion;

    IEnumerable<SelectListItem> PoistionList = ViewData["PoistionList"] as IEnumerable<SelectListItem>;

}

@Styles.Render("/Areas/School/Content/Home/css/style.css")
@Styles.Render("/Areas/School/Content/Home/css/MsgStyle.css")
@Scripts.Render("/Areas/School/Content/Home/js/MsgJs.js")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发布招聘岗位</title>

    @Html.Partial("_LayerLinks")
    <script src="~/Include/layer/layer.js"></script>
    <link href="~/Include/layer/skin/layer.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function (e) {

        });

        function show_detail(PosDesc)
        {
            layer.alert(PosDesc, {
                skin: 'layui-layer-molv' //样式类名
              , offset: ['200px', '500px']
              , closeBtn: 0
            });
        }

        function bj_pos(posid,posname,posdesc,posrequeire,posquantity,pospay,posday,posactive)
        {
            $("#PoistionList").val(posid);
            $("#posdesc").val(posdesc);
            $("#posreq").val(posrequeire);
            $("#postday").val(pospay);
            $("#pay").val(pospay);
            $("#posnum").val(posquantity);
            if (posactive == "接受申请")
            {
                $("#isac").val("1");
            }
            else {
                $("#isac").val("0");
            }
        }

        function Close_RPos(entno,posid) {
            $.ajax({
                type: "post",
                url: "Close_RPos",
                data: { PosID: posid, Entno: entno},
                dataType: "json",
                success: function (data) {
                    if (data.count > 0) {
                        layer.msg("操作成功！");
                        location.reload();
                    }
                    else {
                        layer.msg("操作失败！可能原因：服务器正忙，请稍后再试。");
                    }
                },
                error: function (data) {
                    layer.msg("操作失败！可能原因：服务器正忙，请稍后再试。");
                }
            });
        }
    </script>


</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">招聘管理</a></li>
            <li><a href="#">发布招聘岗位</a></li>
        </ul>
    </div>

    <div class="formbody">

        <div id="usual1" class="usual">

            <div id="tab1" class="tabson">

                @*@using (Html.BeginForm("AddEnrollToStu", "StuPosManager", FormMethod.Post, new { id = "_form" }))
                    {*@
                <div class="formtitle"><span>已发布的岗位列表: </span></div>
                <table class="tablelist" width="1400" border="0" cellspacing="1" bgcolor="#666666" id="msgcontent">
                    <tr class="title">
                        @*<td bgcolor="#CCCCCC">&nbsp;&nbsp;&nbsp;</td>*@
                        @*<td bgcolor="#CCCCCC">企业<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>*@
                        <td bgcolor="#CCCCCC">岗位名称<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        @*<td bgcolor="#CCCCCC">岗位描述<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>*@
                        <td bgcolor="#CCCCCC">职位数量<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">岗位要求<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">薪资<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">发布者<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">发布时间<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">过期时间<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">岗位状态<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                        <td bgcolor="#CCCCCC">操作<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    </tr>
                    <tbody>
                        @if (Poistion.Count != 0)
                        {
                            for (int i = 0; i < Poistion.Count; i++)
                            {
                                <tr class="odd">
                                    <td>
                                        @Poistion[i].PositionName
                                    </td>
                                    @*<td>
                                        @Poistion[i].PosDesc
                                    </td>*@
                                    <td>
                                        @Poistion[i].PosQuantity
                                    </td>
                                    <td>
                                        @Poistion[i].PosRequirement
                                    </td>
                                    <td>
                                        @Poistion[i].PosPay
                                    </td>
                                    <td>
                                        @Poistion[i].Publisher
                                    </td>
                                    <td>
                                        @DateTimeFormat.ConvertIntDateTime(Poistion[i].PubDate).ToString()
                                    </td>
                                    <td>
                                        @DateTimeFormat.ConvertIntDateTime(Poistion[i].PosExpireDate).ToString()
                                    </td>
                                    <td>
                                        @if (Poistion[i].IsActive==1)
                                        {
                                            <label>接受申请</label>
                                        }
                                        else
                                        {
                                            <label>停止申请</label>
                                        }            
                                    </td>
                                    <td>
                                        @*<a href="#" onclick="jump('@ViewBag.PosID[i]')">查看详情</a>*@
                                        <button onclick="show_detail('@Poistion[i].PosDesc')" class="mybtn">详情</button> | 
                                        <button onclick="bj_pos('@Poistion[i].PositionID','@Poistion[i].PositionName','@Poistion[i].PosQuantity','@Poistion[i].PosRequirement','@Poistion[i].PosPay','@((DateTimeFormat.ConvertIntDateTime(Poistion[i].PosExpireDate) - DateTimeFormat.ConvertIntDateTime(Poistion[i].PubDate)).TotalDays)','@Poistion[i].IsActive')" class="mybtn">编辑 |</button>
                                        @if (Poistion[i].IsActive == 1)
                                        {
                                            <button onclick="Close_RPos('@Poistion[i].Ent_No','@Poistion[i].PositionID')" class="mybtn">关闭此岗位 |</button>  
                                        }
                                        else
                                        {
                                            <button onclick="Close_RPos('@Poistion[i].Ent_No','@Poistion[i].PositionID')" class="mybtn">开启此岗位 |</button> 
                                        }                                
                                        |<a href='/Enterprise/EmployerManager/DeletePost?entid=@Poistion[i].Ent_No&posid=@Poistion[i].PositionID'>删除</a> |    
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*}*@



                @using (Html.BeginForm("AddNewPost", "EmployerManager", FormMethod.Post, new { id = "_form" }))
                {
                    <div class="formtitle"><span>发布新岗位: </span></div>
                    <ul class="forminfo">
                        <li><label>选择岗位：</label>@Html.DropDownList("PoistionList", PoistionList, new { @class = "dfinput", id = "PoistionList", name = "PoistionList" })<i></i></li>        
                        <li><label>岗位描述</label><textarea name="posdesc" id="posdesc" class="textinput"></textarea></li>
                        <li><label>岗位要求</label><textarea name="posreq" id="posreq" class="textinput"></textarea></li>
                        <li><label>招聘人数</label><input name="posnum" id="posnum" type="text" class="dfinput" /><i>*</i></li>
                        <li><label>过期天数</label><input name="postday" id="postday" type="text" class="dfinput" /><i>*单位:天</i></li>
                        <li><label>薪资</label><input name="pay" id="pay" type="text" class="dfinput" /><i>*</i></li>
                        <li><label>接收申请</label><select name="isac" id="isac" class="dfinput"><option value="1">是</option><option value="0">否</option></select><i>*</i></li>
                        <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="发布" /></li>
                    </ul>
                }
            </div>


        </div>

        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>


    </div>

</body>

</html>



