@model ServicePlatform.Areas.Permision2.ViewModels.Admin.MenuList_M
@{
    Layout = ViewData["Layout"].ToString();
}

<h2>@ViewBag.Title</h2>
@if(Model.fathers.Count!=0)
{
    <div class="col-md-12">
    <ol class="page-breadcrumb breadcrumb">
        @for (var i = 0; i < Model.fathers.Count; i++)
        {
                <li><a href="/Permision2/Admin/MenuList?ReportID=Permision_菜单列表&Params=@Model.fathers[i].FartherID">@("[" + (i + 1) + "级]" + Model.fathers[i].Name)</a> <i class="fa fa-angle-right"></i></li>
        }
    </ol>

   </div>
}


<div class="row">
    <div class="col-lg-10">
        @Html.Hidden("菜单编号", "", new { PlaceHolder = "请输入要查询的菜单编号（支持模糊查询）" })
    </div>
</div>

@*必须添加*@
@Html.Partial("_Report")
<script>
    function Preview() {
        var Params =
            v("菜单编号");

        Query(Params, "@ViewData["Url"]");
    }
</script>