@model ServicePlatform.Areas.AppStudent.ViewModel.Home.AllEnt_List_M
@section css{
    <style>
        .weui-select- {
            -webkit-appearance: none;
            border: 0;
            outline: 0;
            background-color: transparent;
            width: 100%;
            font-size: inherit;
            position: relative;
            z-index: 1;
            padding-left: 15px;
        }
    </style>
}
<script type="text/javascript">
    function AllEnterprise() {
        var myselect = document.getElementById("EntCategoryID");
        var index = myselect.selectedIndex;
        var value = myselect.options[index].value;
        window.location.href = "/AppStudent/Home/AllEnt_List" + "?EntCategoryID=" + value;
    }
</script>
@Html.Partial("student_menu")
<div class="weui-navbar">
    <div class="colortitle weui-navbar__item">
        <div class="weui-flex ">
            <a href="javascript:window.history.go(-1);">
                <div>
                    <div class="placeholder">
                        <img src="@ViewData["root"]images/return.png" class="return">
                    </div>
                </div>
            </a>

            <div class="weui-flex__item"><div class="placeholder"></div></div>
            <div>
                <div class="placeholder">
                    @Html.DropDownListFor(o=>o.EntCategoryID,Model.EntCategory,new {@class= "weui-select- colortitle", onchange = "AllEnterprise()" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-tab__bd">
    <div class="weui-tab__bd-item weui-tab__bd-item--active">

        <div class="weui-panel">
            <div class="weui-panel__bd">
                @if (!Model._EntpriseList.Any())
                {
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-media-box__title">
                          <img style="width: 100%" src="@ViewData["root"]images/nopic_385x240.png">
                        </div>
                        <h3 style="color: #179B16; padding: 4px 0;"></h3>
                        <div style="color: #cecece; overflow: hidden:padding:4px 0;"></div>
                        <div class="line">暂无该类企业</div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                }
                else
                {
                    foreach (var item in Model._EntpriseList)
                    {
                        if (!string.IsNullOrEmpty(item.Photos))
                        {
                            var photo = item.Photos.Split(';');
                            var first = photo[photo.Length - 1];
                            foreach (var ent in Model._PositionCount)
                            {
                                if (item.EntPracNo == ent.EntPracNo)
                                {
                                    <div class="weui-media-box weui-media-box_text">
                                        <div class="weui-media-box__title">
                                        <a href='javascript:submit("b",{Ent_No:"@item.Ent_No"});'>
                                            @*<a href="/AppStudent/Home/Ent_Detail?Ent_No=@item.Ent_No">*@
                                                <img style="width: 100%; height: 200px" src="@first">
                                            </a>
                                        </div>
                                        <h3 style="color: #179B16; padding: 4px 0;">@item.Ent_Name</h3>
                                        <div style="color: #cecece; overflow: hidden:padding:4px 0;">
                                            招聘人数 @ent.PositionCount 人
                                        </div>
                                        <div class="line">
                                            已报人数 @ent.YetAddVolunteerCount 人
                                        </div>
                                        <div class="line">
                                            可报人数 @ent.RemainRecruitingCount 人（截止日期 @ent.LastTime.ToString("yyyy-MM-dd")）
                                        </div>
                                        <div class="line">
                                            @item.EntAddress
                                        </div>
                                    </div>
                                    break;
                                }
                                else
                                {
                                    continue;
                                }
                            }
                        }
                        else
                        {
                            foreach (var ent in Model._PositionCount)
                            {
                                if (item.EntPracNo == ent.EntPracNo)
                                {
                                    <div class="weui-media-box weui-media-box_text">
                                        @*<a href="/AppStudent/Home/Ent_Detail?Ent_No=@item.Ent_No">*@
                                        <a href="javascript:submit('b',{Ent_No:'@item.Ent_No'});">
                                            <div class="weui-media-box__title">
                                                <img style="width: 100%" src="@ViewData["root"]images/nopic_385x240.png">
                                            </div>
                                        </a>
                                        <h3 style="color: #179B16; padding: 4px 0;">@item.Ent_Name</h3>
                                        <div style="color: #cecece; overflow: hidden:padding:4px 0;">
                                            招聘人数 @ent.PositionCount 人
                                        </div>
                                        <div class="line">
                                            已报人数 @ent.YetAddVolunteerCount 人
                                        </div>
                                        <div class="line">
                                            可报人数 @ent.RemainRecruitingCount 人（截止日期 @ent.LastTime.ToString("yyyy-MM-dd")）
                                        </div>
                                        <div class="line">
                                            @item.EntAddress
                                        </div>
                                    </div>
                                    break;
                                }
                                else
                                {
                                    continue;
                                }
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
