@model ServicePlatform.Areas.AppStudent.ViewModel.Home.EvaluateEnterpriseDetail_M
@Html.Partial("student_menu")
<div class="weui-navbar">
    <div class="colortitle weui-navbar__item">
        <div class="weui-flex">
            <div>
                @*跳到主页*@
                <a href="javascript:submit('a');">
                    <div class="placeholder"><img src="@ViewData["root"]images/return.png" class="return"></div>
                </a>
            </div>
            <div class="weui-flex__item"><div class="placeholder">评价企业</div></div>
            <a href="javascript:submit('b');">
                <div class="placeholder" style="color: floralwhite">修改</div>
            </a>
        </div>
    </div>
</div>
<div class="weui-tab__bd">
    <div class="weui-tab__bd-item weui-tab__bd-item--active">

        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">企业</label>
                </div>
                <div class="weui-cell__bd">
                    <label type="text" id="Subjects" readonly="readonly" class="weui-input">@Model.EntName</label>
                </div>
            </div>
        </div>
        @foreach (var item in Model.EvaluateEnt)
        {
            <div class="weui-cells weui-cells_form">
                <input type="hidden" value="@item.ItemNo" name="ItemNo" />
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">@item.ItemName</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" value="@item.ItemGrade" readonly="readonly">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="5" readonly="readonly">@item.ItemContent</textarea>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
