@model ServicePlatform.Areas.AppStudent.ViewModel.Home.IdentificationTable_M
@Html.Partial("student_menu")
    <div class="weui-navbar">
        <div class="colortitle weui-navbar__item">
            <div class="weui-flex ">
                <div>
                    @*跳转到主页*@
                    <a href="javascript:window.history.go(-1);">
                        <div class="placeholder"><img src="@ViewData["root"]images/return.png" class="return"></div>
                    </a>
                </div>
             
                <div class="weui-flex__item"><div class="placeholder">@Model._schoolname 学生实习鉴定表</div></div>
                <div style="width:48px"><div class="placeholder"></div></div>
            </div>
        </div>
    </div>
    <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-cells_form">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">学生姓名</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._StuName" readonly="readonly" class="weui-input"/>
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">学生年级</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._EnterYear" readonly="readonly" class="weui-input"/>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">学生专业</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._SpeName" readonly="readonly" class="weui-input" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">学生班级</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._ClassName" readonly="readonly" class="weui-input" />
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">实习单位</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._EntName" readonly="readonly" class="weui-input" />
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">学习岗位</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model._PositionName" readonly="readonly" class="weui-input"/>
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <div class="weui-label">实习时间</div>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" value="@Model.AllComment.PracticeStartEnd" readonly="readonly" class="weui-input"/>
                        </div>
                    </div>

                </div>

            </div>
            <div class="weui-cells__title">实习报告</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea readonly="readonly" class="weui-textarea" placeholder="" rows="3">@Model.AllComment.PracticeReport</textarea>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">实习单位考核意见</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea readonly="readonly" class="weui-textarea" placeholder="" rows="3">@Model.AllComment.PracUnitComment</textarea>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">指导老师考核意见</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea readonly="readonly" class="weui-textarea" placeholder="" rows="3">@Model.AllComment.TutorComment</textarea>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">院系考核评定意见</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea readonly="readonly" class="weui-textarea" placeholder="" rows="3">@Model.AllComment.SchoolComment</textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
