@model ServicePlatform.Areas.AppStudent.ViewModel.Home.RecEnt_Detail_M
<style>
    .guding {
        display: -webkit-box;
      
        display: flex;
        position: absolute;
        z-index: 500;
        bottom: 80px;
        right: 20px;
        background-color: #fafafa;
    }
</style>
<script>
    $(document).on("open", ".weui-popup-modal", function() {
        console.log("open popup");
    }).on("close", ".weui-popup-modal", function() {
        console.log("close popup");
    });
</script>
@Html.Partial("student_menu")
<div class="weui-navbar">
    <div class="colortitle weui-navbar__item">
        <div class="weui-flex ">
            <div>
                @*跳转到招聘企业列表*@
                <a href="javascript:submit('j');">
                    <div class="placeholder"><img src="@ViewData["root"]images/return.png" class="return"></div>
                </a>
            </div>
            <div class="weui-flex__item"><div class="placeholder">@Model.Ent_Name</div></div>
            <div style="width:48px"><div class="placeholder"></div></div>
        </div>
    </div>
</div>
<div class="weui-tab__bd">
    <div class="weui-tab__bd-item weui-tab__bd-item--active">
        @if (string.IsNullOrEmpty(Model.Photos))
        {
            <img style="width: 100%" src="@ViewData["root"]images/nopic_385x240.png"/>
        }
        else
        {
            var photo = Model.Photos.Split(';');
            var firstphoto = photo[photo.Length - 1];
            <img style="width: 100%; height: 206px" src="@firstphoto">
        }

        <div class=" weui-cell">企业详情栏目</div>

        <div class="weui-grids">

            <a href='javascript:submit("a",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_article.png" alt="">
                </div>
                <p class="weui-grid__label">企业介绍</p>
            </a>


            <a href='javascript:submit("b",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_search_bar.png" alt="">
                </div>
                <p class="weui-grid__label">岗位查看</p>
            </a>


            <a href='javascript:submit("c",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"7826"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui-grid__label">培养计划</p>
            </a>

            <a href='javascript:submit("g",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"6000"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_toast.png" alt="">
                </div>
                <p class="weui-grid__label">成功案列</p>
            </a>

            <a href='javascript:submit("d",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"9000"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_panel.png" alt="">
                </div>
                <p class="weui-grid__label">薪资待遇</p>
            </a>


            <a href='javascript:submit("e",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"4000"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_tab.png" alt="">
                </div>
                <p class="weui-grid__label">员工食宿</p>
            </a>


            <a href='javascript:submit("f",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"5000"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_actionSheet.png" alt="">
                </div>
                <p class="weui-grid__label">员工天地</p>
            </a>


            <a href='javascript:submit("h",{EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"7878"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_nav_icons.png" alt="">
                </div>
                <p class="weui-grid__label">资源下载</p>
            </a>


            <a href='javascript:submit("i",{Ent_No:"@Model.Ent_No",EntPracNo:"@Model.EntPracNo",VolunteerSequence:"@Model.VolunteerSequence",PosSequence:"@Model.PosSequence",DLFileColumnID:"1234"});' class="weui-grid">
                <div class="weui-grid__icon">
                    <img src="@ViewData["root"]images/icon_intro.png" alt="">
                </div>
                <p class="weui-grid__label">常见问题</p>
            </a>


        </div>
    </div>
</div>





