@model ServicePlatform.Areas.BBS.ViewModels.UserCenter.PostDrafts_M
@{
    Layout = ViewData["Layout"].ToString();
    int pageIndex = (int)ViewData["pageIndex"];
    int maxIndex = (int)ViewData["maxIndex"];
}

@section script{
    <script>
    function jumpTo(index) {
        location.href = '@ViewData["currentUrl"]?pageIndex=' +index+ '&perCount=@ViewData["perCount"]'+'&id=@Model.userid';
    };

    </script>
}




<div class="main">

<!-- 导航-->
           @Html.Action("_Head", new { id = Model.userid })
          <div class="means">
               <div class="main-share-head">
                  <p class="main-share-head-p">发帖子</p>
                  <div class="main-share-head-img">
                      <img src="~/Areas/BBS/Content/Image/分界线.png">
                  </div>
                </div>

                <div class="main-share-middle">
                    <div class="main-photo-middle-left">
                        <div class="write-note-main">
                          
                           <select class="write-chrose-select">
                        @foreach (var forum in Model.forums)
                        {
                            <option value="">@forum.ForumName</option>
                        }

                    </select>>>

                    <select class="write-chrose-select">
                        @foreach (var column in Model.columns)
                        {
                            <option value="">@column.ColumnName</option>
                        }
                    </select>>>

                    <select class="write-chrose-select">
                        @foreach (var theme in Model.themes)
                        {
                            <option value="">@theme.ThemeName</option>
                        }
                    </select>

                            <form method="post" action="SendPost"> 
                             <input class="write-note-input-head" typle="text" placeholder="请在此输入标题信息~" name="found"/>
                             <br \>
                             <br \>
                             <textarea name="" class="write-note-input-main" placeholder="想说点什么"></textarea></p>
                             <input class="write-note-submit" type="submit" value="发表帖子" />&nbsp;&nbsp;&nbsp;&nbsp;<input class="write-note-submit" type="submit" value="保存草稿" /></p>
                       </form>
                          
                        </div>
                     
                      
                    </div>


                    <div class="main-photo-middle-right-note">
                         <ul>
                             <li class="main-photo-middle-right-li"><img class="main-photo-middle-right-img"src="@Model.userinformation.HeadPictureUrl"></li>
                             <li class="main-photo-middle-right-li"><a class="main-photo-middle-right-li-a"href="">@Model.userinformation.Name</a><p class="main-photo-middle-right-li-p"><a class="main-photo-middle-right-li-a-a"href="">@Model.postCount</a>&nbsp;条发帖</p><p class="main-photo-middle-right-li-pp"><a class="main-photo-middle-right-li-a-a"href="">@Model.draftCount</a>&nbsp;条草稿</p></li>
                         </ul>
                         <hr class="main-photo-middle-right-hr">
                         <a class="main-photo-middle-right-help" href="">发帖使用帮助？</a>

                    </div>
                </div>

                <div class="my-note-lists">
                    <div class="my-note-lists-head">
                       <ul class="my-note-lists-head-ul">
                              <li class="my-note-lists-head-li"><a class="my-note-lists-head-a" href="@Url.Action("MyPost","UserCenter",new{area="BBS",id=Model.userid})">我发的帖</a></li>
                              <li class="my-note-lists-head-li"><p class="my-note-lists-head-p">|</p></li>
                              <li class="my-note-lists-head-li"><p class="my-note-lists-head-ap" >草稿箱</p></li>
                       </ul>
                    </div>
                    <div class="main-note-head-img2">
                      <img src="~/Areas/BBS/Content/Image/分界线2.png">
                    </div>
                    
                     @foreach(var draft in Model.drafts)
                        {
                    <div class="message-main-main">
                       
                                 <ul>
                                     <li class="note-main-main-lis-img"><img class="list-main-lists-head-img" src="@Model.userinformation.HeadPictureUrl"></li>
                                     <li class="note-main-main-li"><a class="message-main-main-a" href="">@Model.userinformation.Name</a></li>
                                     <li class="note-main-main-li" ><img src="~/Areas/BBS/Content/Image/用户.png"></li>
                                     <li class="note-main-main-lis" ><p class="message-main-main-li-p">&nbsp;&nbsp;在</p></li>
                                     <li class="note-main-main-li"><a class="message-main-main-li-a"href="">@draft.ForumName</a></li>
                                     <li class="note-main-main-lis"><p class="message-main-main-li-p">中发表&nbsp;</p></li>
                                     <li class="note-main-main-li"><a class="message-main-main-li-a"href="">"@draft.PostTitle"</a></li> 
                                     <li class="note-main-main-lits"><a class="message-main-main-li-a"href="@Url.Action("DeletePost","CRUD",new{area="BBS",id=draft.ID})">删除</a></li>
                                   

                                     
                                  </ul>
                             
                     </div>
                     <div class="message-main-main-note">
                                  <p class="note-main-main-note-p">发表于 @draft.Time</p>
                     </div>
                     <hr>
                        }
                    

                  
                </div>


          </div>

              <br>

    @if ((int)ViewData["maxIndex"] > 1)
    {
        <div class="jump">
            <a class="jump-a-border" onclick="jumpTo('1')">首页</a>&nbsp;
            @if (pageIndex != 1)
            {
                <a class="jump-a-border" onclick="jumpTo('@(pageIndex-1)')">上一页</a>@(new HtmlString("&nbsp"));
            }
            <a onclick="jumpTo('@(pageIndex)')">&nbsp;<input type="text" style="width:20px;" value="@(pageIndex)" />&nbsp;</a>
            @if (pageIndex != maxIndex)
            {
                <a class="jump-a" onclick="jumpTo('@(pageIndex+1)')">&nbsp;下一页&nbsp;</a>
            }
            <a class="jump-a" onclick="jumpTo('@(maxIndex)')">&nbsp;末页&nbsp;</a>

        </div>
    }
                    
                  
               
          </div>


          








