@{
    ViewBag.Title = "AddSignerStu";
}
@Styles.Render("/Areas/School/Content/Home/css/style.css")
<!DOCTYPE html>
<html>
<head>
    <title>添加学生</title>

    @*<script type="text/javascript">
            KindEditor.ready(function (K) {
                var editor1 = K.create('#editor', {
                    cssPath: '/Content/kindeditor/plugins/code/prettify.css',
                    uploadJson: '/Content/kindeditor/asp.net/upload_json.ashx',
                    fileManagerJson: '/Content/kindeditor/asp.net/file_manager_json.ashx',
                    allowFileManager: true,
                });
                prettyPrint();
            });
        </script>*@
</head>
@*@using (Html.BeginForm("WriteNews", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    <body>
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">学生管理中心</a></li>
                <li><a href="#">学生列表</a></li>
            </ul>
        </div>

        <div class="formbody">
            <form method="POST">
                <div class="formtitle"><span>添加学生</span></div>
                <ul class="forminfo">

                    <li><label>学号：</label> <input type="text" name="stuno" class="dfinput"/></li>

                    <li><label>姓名：</label> <input type="text" name="stuname" class="dfinput"/></li>

                    <li><label>电话：</label> <input type="text" name="stucellphone" class="dfinput" /></li>

                    @*@if (ViewBag.IMGURL == null)
                {
                    <li><label>标题图片：</label> <input name="Titlepic" type="file" class="dfinput" /><i>@Html.ValidationMessageFor(model => model.TitlePic)</i><i>*推荐尺寸：168x126</i></li>
                }
                else
                {
                    <li><label>标题图片：</label> <input name="Titlepic" type="file" class="dfinput" /><i style="color:red">原始图片路径如下，如需更改，请重新选择图片</i><i>*推荐尺寸：168x126</i></li>
                    <li><label>原始图片：</label><input type="text" name="oldpic" id="oldpic" value='@ViewBag.IMGURL' class="dfinput" readonly /></li>
                }*@

                    @*<li><label>&nbsp;</label><input class="btn" type="submit" value="返回" id="save" name="action" onclick="check()" /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input class="btn" type="submit" value="投递" id="send" name="action" onclick="check()" /></li>*@
                    <li><label>&nbsp;</label><input class="btn" type="submit" value="添加" id="save" name="action"/></li>

                </ul>
            </form>
        </div>
       
        <div visibility:hidden><input type="text" id="flag" name="flag" value="" /></div>
        <div visibility:hidden><input type="text" id="msgcontent" name="msgcontent" value="" /></div>

    </body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*<form method="POST">
   <label>学号：</label> <input type="text" name="stuno"/>
    <br/>
    <label>姓名：</label> <input type="text" name="stuname"/>
    <br />
    <input type="hidden" name="classid" value="@ViewData["classid"]"/>
    <input type="hidden" name="speno" value="@ViewData["speno"]" />
    <input type="submit" value="确认"/>
</form>*@