@using Qx.Tools.Web.Mvc.Html
@model ServicePlatform.Areas.WbsHqu.ViewModels.QuotaTask_M
@{
    Layout = ViewData["Layout"].ToString();
}
@Html.HiddenFor(o => o.QuotaTaskID)

@Html.HiddenFor(o => o.WbsTaskID)

@Html.HiddenFor(o => o.FatherID)

@Html.InputFor(o => o.TaskName)

@Html.InputFor(o => o.RelativeWeight, "请输入百分数，如“50”即为50%")

@Html.HiddenFor(o => o.AbsoluteWeight)

@Html.InputFor(o => o.TaskContent)

<div class="form-group">
    <label class="col-md-3 control-label">开始时间</label>
    <div class='col-md-9'>
        <input size="16" type="text" value=@Model.BeginTime name="BeginTime" readonly class="form_datetime form-control">
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">结束时间</label>
    <div class='col-md-9'>
        <input size="16" type="text" value=@Model.EndTime name="EndTime" readonly class="form_datetime form-control">
    </div>
</div>

@Html.HiddenFor(o => o.CreateTime, "")

@Html.SelectFor(o=>o.IsLeafNode,Model.IsLeafNodeItem,"",false)

@Html.InputFor(o=>o.TaskSequence)
