<h2>当前地址 -currentUrl&nbsp;&nbsp;&nbsp;<b>@ViewData["currentUrl"]</b> </h2>
<h2>每页数量 -perCount  &nbsp;&nbsp;&nbsp;<b>@ViewData["perCount"]</b>   </h2>
<h2>当前索引 -pageIndex &nbsp;&nbsp;&nbsp;<b>@ViewData["pageIndex"]</b>   </h2>
<h2>总共页数 -maxIndex &nbsp;&nbsp;&nbsp;<b>@ViewData["maxIndex"] </b>
</h2>  

<h2>分页附加参数 &nbsp;&nbsp;&nbsp;<b>@("&pageIndex=" + ViewData["pageIndex"] + "&perCount=" + ViewData["perCount"])</b> </h2>