@model ServicePlatform.Areas.BBS.ViewModels.Home.Diarys_M
@{
    Layout = ViewData["Layout"].ToString();
    int pageIndex = (int)ViewData["pageIndex"];
    int maxIndex = (int)ViewData["maxIndex"];
}
@section script{
<script>
        function jumpTo(index) {
            location.href = '@ViewData["currentUrl"]?pageIndex=' + index + '&perCount=@ViewData["perCount"]'+
                'id=@Model.UserId'
                ;
        }
</script>
 }


    <div class="main"> 
        @Html.Action("_Head", new { id = Model.UserId })
        <div class="means">
            <div class="main-share-head">
                <p class="main-share-head-p">日志</p>
                <div class="main-share-head-img">
                    <img src="~/Areas/BBS/Content/Image/分界线.png">
                </div>
            </div>

            <br>

            <div class="main-share">
                 @foreach(var diary in Model.diary)
                    {
                <ul class="main-share-ul">
                    <li class="main-share-lit"><a class="main-share-li-a" href="@Url.Action("ShowDiary", "Home",new { area = "BBS",id=diary.ID })">@diary.DiaryTitle</a></li>
                    <li class="main-share-note-liss"><a class="main-share-li-p" href=""> 评论(@diary.ReplyCount)</a></li>
                    <li class="main-share-li"><img src="~/Areas/BBS/Content/Image/评.png"></li>
                    <li class="main-share-liss"><p style="    width: 120px;" class="main-share-li-p">@diary.Time</p></li>
                    <li class="main-share-li"><img src="~/Areas/BBS/Content/Image/分享时间.png"></li>
                </ul>
                  }
                @if (Model.diary.Count == 0)
                { 
                    <ul class="main-share-ul">
                      <li class="main-share-lit" style="color:red">主人很懒，这里什么也没有留下</li>
                   </ul>
                }
            </div>
            @if((int)ViewData["maxIndex"]>1)
            {
               <div class="jump">
                   <a class="jump-a-border" onclick="jumpTo('1')">首页</a>&nbsp;
                   @if(pageIndex!=1)
                   {
                         <a class="jump-a-border" onclick="jumpTo('@(pageIndex-1)')">上一页</a>@(new HtmlString("&nbsp"));
                   }
                   <a  onclick="jumpTo('@(pageIndex)')">&nbsp;<input type="text" style="width:20px;" value="@(pageIndex)"/>&nbsp;</a>
                   @if (pageIndex != maxIndex)
                   { 
                       <a class="jump-a" onclick="jumpTo('@(pageIndex+1)')">&nbsp;下一页&nbsp;</a>
                   }
                    <a class="jump-a" onclick="jumpTo('@(maxIndex)')">&nbsp;末页&nbsp;</a>

                 </div>
            }
        </div>





    </div>

