    @model ServicePlatform.Areas.BBS.ViewModels.Home.PhotoAlbum_M
@{
    Layout = ViewData["Layout"].ToString();
    int pageIndex = (int)ViewData["pageIndex"];
    int maxIndex = (int)ViewData["maxIndex"];
}
@section script{
    <script>
    function jumpTo(index) {
        location.href = '@ViewData["currentUrl"]?pageIndex=' +index+ '&perCount=@ViewData["perCount"]'+'&id=@Model.userid';
    };

    </script>
}



<div class="main">

<!-- 导航-->
        
@Html.Action("_Head", new { id=Model.userid})
          <div class="means">
               <div class="main-share-head">
                  <p class="main-share-head-p">相册</p>
                  <div class="main-share-head-img">
                      <img src="~/Areas/BBS/Content/Image/分界线.png">
                  </div>
                </div>

                <div class="main-share-middle">
                    <div class="main-photo-middle-main">
                      <ul>
                         <li class="photos-input-head">
                              <img class="photo-input-head-img" src="@Model.HeadPicture">
                         </li>
                      

                         
                        


                      </ul>

                      <ul>
                          @foreach(var photo in Model.Photos)
                          {
                            <li class="main-photos-middle-left-li">
                               <div class="main-photos-middle-left-div">
                                   <p align="center"><a href=""><img class="main-photos-middle-left-li-img"src="@photo.PhotoUrl"></a></p><p class="main-photo-middle-left-li-p" align="center"><a class="main-photo-middle-left-li-a" href="">@photo.PhotoExplain</a></p>
                                </div>
                            </li>
                          }
                          @if (Model.Photos.Count == 0)
                          {
                              <li style="color:red">主人很懒，这里什么也没有留下</li>
                          }
                            
                      </ul>
                      
                    </div>



                </div>

                 <div class="jump-loca">
                     @if ((int)ViewData["maxIndex"] > 1)
                     {
                         <div class="jump">
                             <a class="jump-a-border" onclick="jumpTo('1')">首页</a>&nbsp;
                             @if (pageIndex != 1)
                             {
                                 <a class="jump-a-border" onclick="jumpTo('@(pageIndex-1)')">上一页</a>@(new HtmlString("&nbsp"));
                             }
                             <a onclick="jumpTo('@(pageIndex)')">&nbsp;<input type="text" style="width:20px;" value="@(pageIndex)" />&nbsp;</a>
                             @if (pageIndex != maxIndex)
                             {
                                 <a class="jump-a" onclick="jumpTo('@(pageIndex+1)')">&nbsp;下一页&nbsp;</a>
                             }
                             <a class="jump-a" onclick="jumpTo('@(maxIndex)')">&nbsp;末页&nbsp;</a>

                         </div>
                     }
                 </div>
            </div>



                    
                  
               
          </div>


          







