@using Webdiyer.WebControls.Mvc;
@using ServicePlatform.Models;
@model Webdiyer.WebControls.Mvc.PagedList<T_SysMsg>

@*@Styles.Render("/Content/css/Admin/style.css")
@Styles.Render("/Content/css/Admin/MsgStyle.css")
@Scripts.Render("/Scripts/Admin/MsgJs.js")
@Scripts.Render("/Scripts/Admin/jquery-1.5.2.min.js")*@
@Styles.Render("/Areas/School/Content/Home/css/style.css")
@Styles.Render("/Areas/School/Content/Home/css/MsgStyle.css")
@Scripts.Render("/Areas/School/Content/Home/js/MsgJs.js")

@Scripts.Render("/Areas/Message/Content/jquery-1.9.1.min.js")

@{
    ViewBag.Title = "草稿箱";
    int initial = ViewBag.PageIndex;
    int date_index = (initial - 1) * 10;//时间
    int msgt_index = (initial - 1) * 10;//消息类型
    int content = (initial - 1) * 10;
    int receive = (initial - 1) * 10;
    int recrole = (initial - 1) * 10;
    int read = (initial - 1) * 10;
}
@using (Html.BeginForm("MsgSendDraft_Delete_ALL", "MsgCenter", FormMethod.Post))
{
    <input type="button" id="btnall" name="btnall" class="btn" value="全选" onclick="checkall()" />
    <input type="submit" class="btn" value="批量删除" onclick="findRow()" name="action">
    @*<label>全文检索：</label><input type="text" class="dfinput" value="请输入检索内容" id="jiansuo" name="jiansuo" /><input type="submit" class="btn" value="检索" name="action" />@*<label>按消息类型（10：用户注册、11：项目评估、12：项目招标、13：系统消息）</label>*@
    <div hidden="hidden"><input type="text" value="" id="piliang" name="piliang" class="dfinput" /></div>
    <div hidden="hidden"><input type="text" value="来自草稿箱" id="draft" name="draft" class="dfinput" /></div>
}

<table id="msgcontent"  class="tablelist" width="1400" border="0" cellspacing="1" bgcolor="#666666">
    <tr class="title">
        <td bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC">编号<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC">发送人<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC">创建时间<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC" onclick="">消息内容<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC">消息类别<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC">个人<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC">群发<i class="sort"><img src="/Areas/Message/Content/px.gif" /></i></td>
        <td bgcolor="#CCCCCC" onclick="">操作</td>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="odd">
                <td><input name="check_approve" type="checkbox" value="" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.MsgID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MsgOwner)
                </td>
                <td>
                    @ViewBag.dt[date_index++]
                    @*@Html.DisplayFor(modelItem => item.SendTime)*@
                </td>
                <td>
                    @ViewBag.MsgCon[content++]
                    @*@Html.DisplayFor(modelItem => item.MsgContent)*@
                </td>
                <td>
                    @ViewBag.msgt[msgt_index++]
                    @*@Html.DisplayFor(modelItem => item.MsgTypeID)*@
                </td>
                @*<td bgcolor="#FFFFFF">
                        @Html.DisplayFor(modelItem => item.FatherMsgID)
                    </td>*@
                <td>
                    @ViewBag.Receive[receive++]
                    @*@Html.DisplayFor(modelItem => item.Receiver)*@
                </td>
                <td>
                    @ViewBag.Recrole[recrole++]
                    @*@Html.DisplayFor(modelItem => item.RecRole)*@
                </td>
                <td>
                    @Html.ActionLink("编辑", "MsgDraft_Edit", "MsgCenter", new { id = item.MsgID }, null) |
                    @Html.ActionLink("发送", "MsgDraft_Send", "MsgCenter", new { id = item.MsgID }, null) |
                    @Html.ActionLink("删除", "MsgDraft_Delete", "MsgCenter", new { id = item.MsgID }, new { onclick = "javascript:return confirm('确定删除吗?');" })
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    function findRow() {
        if (confirm("确认删除所选的信息吗？")) {
            var check = document.getElementsByName("check_approve");
            var result = "";
            var table = document.getElementById('msgcontent');
            var rows = table.rows.length;
            for (var j = 0; j < check.length; j++) {
                if (check[j].checked) {
                    //result += table.rows[j + 1].cells[4].innerText + "!";
                    result += table.rows[j + 1].cells[1].innerHTML + "!";
                }
            }
            var objsel = document.getElementById("piliang");
            objsel.setAttribute("value", result);
        }
    }

    function checkall() {
        var check = document.getElementsByName("check_approve");
        if (check[0].checked == true) {
            for (var j = 0; j < check.length; j++) {
                check[j].checked = false;
            }
            document.getElementsByName('btnall').setAttribute("value", "全选");
        }
        else {
            for (var j = 0; j < check.length; j++) {
                check[j].checked = true;
            }
            document.getElementsByName('btnall').setAttribute("value", "取消全选");
        }
    }
</script>