@model  ServicePlatform.Areas.Wbs.ViewModels.CRUD.UserNodeList_Edit_M
@{
    Layout = ViewData["Layout"].ToString();
}

<div class="col-md-6">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" method="POST" role="form">
                <div class="form-body">


                    @Html.HiddenFor(o => o.SerialID)
                    <div class="form-group">
                        @Html.LabelFor(o => o._UserName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">

                            @Html.TextBoxFor(o => o._UserName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(o => o._NodeName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(o => o._NodeName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(o => o._Decription, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(o => o._Decription, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(o => o._UserWeight, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(o => o._UserWeight, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(o => o.RealWeight, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(o => o.RealWeight, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    @Html.Partial("/Views/Templates/_BootTimePicker.cshtml", new ViewDataDictionary(ViewData)
                                {
                                   { "id","FinshTime"},
                                   { "name","FinshTime"},
                                   { "value",DateTime.Now},
                                   { "displayName","完成时间"}
                                })

                    <div class="form-group">
                        @Html.LabelFor(o => o.Materal, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(o => o.Materal, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn btn-default back">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
