@{
    ViewBag.Title = "ModifyEnroll";
}
@model IEnumerable<ServicePlatform.Models.T_PracticeVolunteer>
@using ServicePlatform.Lib;
@using ServicePlatform.Models;

@{
    int index_1 = 0;
    int index_2 = 0;
}

@Styles.Render("/Areas/School/Content/Home/css/style.css")
@Styles.Render("/Areas/School/Content/Home/css/MsgStyle.css")
@Scripts.Render("/Areas/School/Content/Home/js/MsgJs.js")
@Scripts.Render("/Areas/School/Content/Home/js/jquery-1.5.2.min.js")
<html>
<head>
    <title>修改报名</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">实习报名管理</a></li>
            <li><a href="#">修改报名</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        @using (Html.BeginForm("PreEnroll", "S_PraEnrollManager", FormMethod.Post, new { id = "_form" }))
        {
            <div class="formtitle"><span>第一志愿:</span></div>
            <table class="tablelist" width="1400" border="0" cellspacing="1" bgcolor="#666666" id="msgcontent">
                <tr class="title">
                    @*<td bgcolor="#CCCCCC">&nbsp;&nbsp;&nbsp;</td>*@
                    <td bgcolor="#CCCCCC">岗位<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>             
                    <td bgcolor="#CCCCCC">岗位顺序<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC">岗位描述<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>   
                    <td bgcolor="#CCCCCC">截止日期<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC">已报人数<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC" onclick="">操作</td>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.VolunteerSequence==1)
                        {
                        <tr class="odd">
                            @*<td><input type="checkbox" value="" name="check_approve" /></td>*@
                            <td>
                                @ViewBag.PosName_1[index_1]
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PosSequence)
                            </td>
                            <td>
                                @ViewBag.Desc_1[index_1]
                            </td>
                            <td>
                                @ViewBag.Time_1[index_1++]
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                @Html.ActionLink("查看", "ViewDetail", new { entpracno = item.EntPracNo, posid = item.PosID }) |
                                @Html.ActionLink("删除正式报名", "DeletePreEnroll", new { pracno = item.PracticeNo, entpracno = item.EntPracNo, posid = item.PosID })
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        }



        @using (Html.BeginForm("RealEnroll", "S_PraEnrollManager", FormMethod.Post, new { id = "_form" }))
        {
            <div class="formtitle"><span>第二志愿: </span></div>
            <table class="tablelist" width="1400" border="0" cellspacing="1" bgcolor="#666666" id="msgcontent">
                <tr class="title">
                    @*<td bgcolor="#CCCCCC">&nbsp;&nbsp;&nbsp;</td>*@
                    <td bgcolor="#CCCCCC">岗位<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>              
                    <td bgcolor="#CCCCCC">顺序<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC">岗位描述<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>   
                    <td bgcolor="#CCCCCC">截止日期<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC">已报人数<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                    <td bgcolor="#CCCCCC" onclick="">操作</td>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.VolunteerSequence==2)
                        { 
                        <tr class="odd">
                            @*<td><input type="checkbox" value="" name="check_approve" /></td>*@
                            <td>
                                @ViewBag.PosName_2[index_2]
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PosSequence)
                            </td>
                            <td>
                                @ViewBag.Desc_2[index_2]
                            </td>
                            <td>
                                @ViewBag.Time_2[index_2++]
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                @Html.ActionLink("查看", "ViewDetail", new { entpracno = item.EntPracNo, posid = item.PosID }) |
                                @Html.ActionLink("删除正式报名", "DeletePreEnroll", new { pracno = item.PracticeNo, entpracno = item.EntPracNo, posid = item.PosID })
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        }



    </div>




    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

    <script type="text/javascript">

        //function findRow() {
        //    if (confirm("确认将所选学生加入该批次吗？")) {
        //        var check = document.getElementsByName("check_approve");
        //        var result = "";
        //        var table = document.getElementById('msgcontent');
        //        var rows = table.rows.length;
        //        for (var j = 0; j < check.length; j++) {
        //            if (check[j].checked) {
        //                //result += table.rows[j + 1].cells[4].innerText + "!";
        //                result += table.rows[j + 1].cells[1].innerHTML + "!";
        //            }
        //        }
        //        var objsel = document.getElementById("piliang");
        //        objsel.setAttribute("value", result);
        //    }
        //}

        //function checkall() {
        //    var check = document.getElementsByName("check_approve");
        //    if (check[0].checked == true) {
        //        for (var j = 0; j < check.length; j++) {
        //            check[j].checked = false;
        //        }
        //        document.getElementsByName('btnall').setAttribute("value", "全选");
        //    }
        //    else {
        //        for (var j = 0; j < check.length; j++) {
        //            check[j].checked = true;
        //        }
        //        document.getElementsByName('btnall').setAttribute("value", "取消全选");
        //    }
        //}

        function getvol(pracno, entpracno, posid) {
            var vol = document.getElementById("volunteer").value;
            var order = document.getElementById("vorder").value;
            var url = "/School/S_PraEnrollManager/PreEnroll?pracno=" + pracno + "&entpracno=" + entpracno + "&posid=" + posid + "&vol=" + vol + "&order=" + order;
            window.location = url;
        }

    </script>

    <div class="none"></div>
</body>
</html>

