@using ServicePlatform.Areas.Permission.Models
@model T_FuncBatchOpenSetting
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form  method="post">

    <div class="formbody">
        <div class="formtitle"><span>@ViewBag.Title</span></div>

        <ul class="forminfo">
            <li >
             @Html.HiddenFor(m => m.FuncObjID, new { @class = "dfinput" })
            </li>
            <li class="col-lg-4">
                @Html.LabelFor(m => m.PracBatchID)
                @Html.DropDownListFor(m => m.PracBatchID, T_ModuleBatchOpenSetting.PracBatchItems(), new { @class = "dfinput" })
            </li>
            <li class="col-lg-3">
                @Html.Partial("_TimePicker", new ViewDataDictionary()
                {
                   { "style","2"},
                   { "id","CloseTime"},
                   { "value", DateTime.Now.ToString("yyyy-MM-dd")},
                   { "displayName","关闭时间"}
                })
            </li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn btn-primary" value="保存" /></li>

        </ul>
    </div>
</form>
