@model ServicePlatform.Areas.App.ViewModel.Home.DetailEvaluateSchool_M
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>评价学校</title>

    <link href="~/Areas/App/Content/CSS/css.css" rel="stylesheet" />
</head>
<body>


    <div class="appraisal-head">
        <div class="left">
            <a href="@Url.Action("Main", "Home", new {area = "App", uid = Model.uid})"><</a>
        </div>

        <div class="middle">
            <p>评价学校</p>
        </div>

        <div class="right">
            @*<input class="done" type="submit" value="确定" />*@
            <a  class="done" href="@Url.Action("EditDetailEvaluateSchool", "Home", new {area = "App", uid = Model.uid})" >修改</a>
        </div>
    </div>

    <div class="school-evaluation">
        <p><span>▶</span>&nbsp;华侨大学</p>
        <div>
            @foreach (var item in Model.EvaluateSchool)
            {
                <input type="hidden" value="@item.ItemNo" name="ItemNo" />
                    <ul>
                        <li class="title">@item.ItemName</li>
                        <li class="chose">@item.ItemGrade</li>
                        <li class="tt">@item.ItemContent</li>
                    </ul>
                    <hr />
            }
        </div>
    </div>

</body>


