@model Core.Services.Entity.T_Employee

@{
    ViewBag.Title = "添加员工";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.Label("员工号")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeID)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div>

        <div class="editor-label">
           @Html.Label("员工姓名")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName)
            @Html.ValidationMessageFor(model => model.EmployeeName)
        </div>

        <div class="editor-label">
            @Html.Label("联系电话")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.Label("QQ")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)
        </div>

        <div class="editor-label">
            @Html.Label("邮箱")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.Label("家庭住址")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>


        <div class="editor-label">
            @Html.Label("员工类型")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserType", new List<SelectListItem>()
            {
                new SelectListItem() {Text = "人力资源", Value = "31"},
                new SelectListItem() {Text = "企业导师", Value = "32"},
                new SelectListItem() {Text = "企业普通员工", Value = "33"}
            })
        </div>
        <button type="submit" class="btn btn-primary">保存 </button>
    </fieldset>
}
<div>
    @Html.ActionLink("返回列表", "Index")
</div>


