@{
    ViewBag.Title = "StuList";
}


@*@model IEnumerable<ServicePlatform.Models.T_PracticeVolunteer>*@
@using ServicePlatform.Lib;
@using ServicePlatform.Models;

@{
   
    string[] StuNo = ViewBag.StuNo;
    string[] StuName = ViewBag.StuName;
    string[] StuPracNo = ViewBag.StuPracNo;
    string[] StuID = ViewBag.StuID;
    string[] StuReviewScore = ViewBag.StuReviewScore;
    //string[] StuEvaEntScore=ViewBag.StuEvaEntScore;
    //string[] StuEvaSchoolScore = ViewBag.StuEvaSchoolScore;
    int DataCount=0;
    if (ViewBag.DataCount != null)
    {
        DataCount = ViewBag.DataCount;
    }    
}

@Styles.Render("/Areas/School/Content/Home/css/style.css")
@Styles.Render("/Areas/School/Content/Home/css/MsgStyle.css")
@Scripts.Render("/Areas/School/Content/Home/js/MsgJs.js")
@*@Scripts.Render("/Areas/School/Content/Home/js/jquery-1.5.2.min.js")*@

<html>
<head>
    <title>学生实习资料查看</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @Html.Partial("_LayerLinks")
    <script src="~/Include/layer/layer.js"></script>
    <link href="~/Include/layer/skin/layer.css" rel="stylesheet" />
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">实习过程管理</a></li>
            <li><a href="#">实习材料查看</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        @using (Html.BeginForm("StuList", "S_MyWorkPlat", FormMethod.Post, new { id = "_form" }))
        {
        <div class="formtitle"><span>选择年级/专业/班级: </span></div>
            
         @Html.Partial("_YearSpeClass")

    <input type="submit" class="btn" value="查询" id="nowoperation" />
        <div class="formtitle"><span>报名情况:  </span></div>

        <table class="tablelist" width="1400" border="0" cellspacing="1" bgcolor="#666666" id="msgcontent">
            <tr class="title">
                @*<td bgcolor="#CCCCCC">&nbsp;&nbsp;&nbsp;</td>*@
                <td bgcolor="#CCCCCC">学号<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                <td bgcolor="#CCCCCC">姓名<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                @*<td bgcolor="#CCCCCC">学生评价学校<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>*@
                <td bgcolor="#CCCCCC">实习成绩<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>
                <td bgcolor="#CCCCCC">操作<i class="sort"><img src="/Areas/School/Content/Home/img/px.gif" /></i></td>                
            </tr>
            <tbody>
                @if (DataCount > 0)
                {
                    for (int i = 0; i < DataCount; i++)
                {
                    
                    <tr class="odd">
                        <td>
                            @StuNo[i]
                        </td>
                        <td>
                            @StuName[i]
                        </td>
                        <td>
                            @StuReviewScore[i]
                        </td>    
                        @*<td>
                            @StuEvaEntScore[i]
                        </td>*@                       
                        <td>
                            @Html.ActionLink("查看资料", "MyWorkPlat", new { focus = "tab1", StuPracNo = StuPracNo[i], ForbidFlag="true" }) |
                            @*@if (StuEvaSchoolScore[i]!="未评价")
                            {
                                @Html.ActionLink("评价学校详情", "StuEvaluateSchool", new { StuID = StuID[i] })
                            }
                            |
                            @if (StuEvaEntScore[i]!="未评价")
                            {
                                @Html.ActionLink("评价企业详情", "StuEvaluateEnt", new { StuID = StuID[i] })
                            }*@
                            
                            
                    </tr>
                    
                }
                }
            </tbody>
        </table>
        }







    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

    <script type="text/javascript">

        function get(pracno, entpracno, posid) {
            var vol = document.getElementById("volunteer").value;
            var order = document.getElementById("vorder").value;
            var url = "/School/S_PraEnrollManager/PreEnroll?pracno=" + pracno + "&entpracno=" + entpracno + "&posid=" + posid + "&vol=" + vol + "&order=" + order;
            window.location = url;
        }

    </script>

    <div class="none"></div>

    <script>

        function show(PosDesc) {
            //弹出一个页面层
            layer.open({
                type: 1,
                area: ['300px', '180px'],
                title: "岗位说明",
                shadeClose: true, //点击遮罩关闭
                offset: ['200px', '500px'],
                content: '\<\div style="padding:20px;">' + PosDesc + '\<\/div>'
            });
        }
    </script>

</body>
</html>





