@using ServicePlatform.Models
@model List<T_EntStudentReviewLink>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加记录</title>

    <link href="~/Areas/School/Content/Home/css/style.css" rel="stylesheet" />
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">后台首页</a></li>
            <li><a href="#">录入成绩</a></li>

        </ul>
    </div>


<form action="/Enterprise/ScoreSetup/ScoreToStudent_Edict_post" method="post">
    <input name="SchoolID" type="text" value="@ViewBag.SchoolID" class="hidden" />
        <input name="EntPracNo" type="text" value="@ViewBag.EntPracNo" class="hidden" />
        <input name="EntReviewerUserID" value="@ViewBag.EntReviewerUserID" type="text" class="hidden" />
        <input name="PracticeNo" type="text" value="@ViewBag.PracticeNo" class="hidden" />


        <div class="formbody">

            <div class="formtitle"><span>录入成绩</span></div>

            <ul class="forminfo">



                @foreach (var item in Model)
{
                     <li>
                        <label>@item.ItemID</label>
                         <input name="@item.ItemID" value="@item.ItemID" type="text" class="hidden" />
                      
                    </li>
   
                    <li>
                        <label>分数</label>
                        <input name="@(item.ItemID+"ReviewScore")" type="text" class="dfinput" />
                        <i>*请输入 分数</i>
                    </li>

                    <li>
                        <label>评分理由</label>
                        <input name="@(item.ItemID + "ReviewComment")"  type="text" class="dfinput" />
                        <i>*请输入 评分理由</i>
                    </li>
                    <hr/>
                }



                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" onclick="window.close();" /></li>

            </ul>


        </div>
    </form>




</body>

</html>






