<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/School/Content/Home/css/style.css" rel="stylesheet" />


    <script src="~/Include/layer/jquery-1.9.1.js"></script>
    <link href="~/Include/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Include/layer/skin/layer.ext.css" rel="stylesheet" />
    <script src="~/Include/layer/extend/layer.ext.js"></script>
    <script src="~/Include/layer/layer.js"></script>
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">后台首页</a></li>
            <li><a href="#">@ViewBag.Title</a></li>

        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">

                <li id="Bt_Add"><span><img src="/Areas/Platform/Content/Admin/images/t01.png" /></span>添加</li>
                @*<li><span><img src="/Areas/Platform/Content/Admin/images/t02.png" /></span>修改</li>
                <li><span><img src="/Areas/Platform/Content/Admin/images/t03.png" /></span>删除</li>
                <li><span><img src="/Areas/Platform/Content/Admin/images/t04.png" /></span>统计</li>*@

            </ul>


            @*<ul class="toolbar1">
                <li><span><img src="/Areas/Platform/Content/Admin/images/t05.png" /></span>设置</li>
            </ul>*@

        </div>

        <table class="tablelist">
            <thead>
                <tr>
                    <th><input name="" type="checkbox" value="" checked="checked" /></th>
                    @{
                        int countColumn = 0;
                        for (int i = 0; i < ViewBag.headerTitle.Length && countColumn < ViewBag.Limit.Length; i++)
                        {
                            if (ViewBag.Limit[countColumn] == i)//根据规则显示列
                            {
                                <th>@ViewBag.headerTitle[i]<i class="sort"><img src="/Areas/Platform/Content/Admin/images/px.gif" /></i></th>
                                countColumn++;
                            }

                        }
                    }

                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (int k = 0; k < ViewBag.dataList.Count; k++)
                {
                    string parsmStr = "";//参数串
                    countColumn = 0;//复位计数器

                    var objList = LibHelper.ReflectionHelper.GetObjInfo(ViewBag.dataList[k]);//原始数据
                    var objNoteList = LibHelper.ReflectionHelper.GetObjInfo(ViewBag.dataNoteList[k]);//转换后数据
                    var data = objList[1];
                    var dataNote = objNoteList[1];
                    <tr>
                        <td><input name="" type="checkbox" value="" /></td>
                        @{
                    for (int i = 0; i < data.Length; i++)
                    {
                        parsmStr += objList[0][i] + "=" + objList[1][i] + "&";//构造参数串
                    }

                    for (int i = 0; i < data.Length && countColumn < ViewBag.Limit.Length; i++)
                    {
                        if (ViewBag.Limit[countColumn] == i)//根据规则显示列
                        {
                            <td>@dataNote[i]</td>//显示给用户
                            countColumn++;
                        }
                    }
                        }


                        <td>
                            @for (int i = 0; i < ViewBag.Action.Length; i++)
                            {
                                <a href='@(ViewBag.Action[i][0] + "?" +
                                  parsmStr
                                )  ' class="tablelink">@ViewBag.Action[i][1]</a>
                            }

                        </td>
                    </tr>
                }




            </tbody>
        </table>


        <!--分页开始-->
        @Html.Partial("_CutPage")
        <!--分页结束-->


        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>

            <div class="tipinfo">

                <div class="tipright">

                    <p>是否确认对信息的修改 ？</p>
                    <ul>
                        <li><input type="text" class="dfinput" placeholder="用户名" /></li>
                        <li><input type="text" class="dfinput" placeholder="密码" /></li>
                    </ul>


                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                </div>
            </div>

            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" />&nbsp;
                <input name="" type="button" class="cancel" value="取消" />
            </div>

        </div>




    </div>



    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>


    <script type="text/javascript">
        //自定页
        $('#Bt_Add').click(function (){
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 0, //不显示关闭按钮
                shift: 2,
                shadeClose: true, //开启遮罩关闭
                content: '<form action="/Enterprise/ScoreSetup/ScoreItemToStudent_Add" method="post">'
                        + '<div style="padding:50px;">' + '<br/>'
                        + '<input type="text" name="EntPracNo" id="EntPracNo" class="hidden" value="@ViewBag.EntPracNo"  /> '
                         + '<input type="text" name="ItemID" id="ItemNo" class="hidden" value="@ViewBag.ItemNo"  /> '
                          + '<input type="text" name="EntReviewerUserID" id="EntReviewerUserID" class="hidden" value="@ViewBag.EntReviewerUserID"  /> '
                      
                         + '@(new HtmlString(ServicePlatform.Lib.PageHelper.GetSelectHtml((List<SelectListItem>)ViewBag.StudentSelectList, "PracticeNo")))' + '<br/><br/>'
                        + '<button class="btn" type="submit">提交</button></div>'
                     + '</form>'
            });
        })

    </script>



</body>

</html>





